/*
  CSS File
*/

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-peppermint);
  --body-background-colour: var(--colour-cello);
}

/*
  PAGE / BODY
*/
body {
  font-family: Arial, Helvetica, sans-serif;

  background-color: #d2cfb9;
}

.backgroundImage {
  display: flex;
  justify-content: center;
  max-width: 100%; 
  text-align: center; 
}


.container {
  position: relative; 
  max-width: 100%; 
  margin: 0 auto; 
}

.container .content {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 100%; 
  padding: 20px; 
}

.welcomeText {
  font-size: 19px;
}


.headerRegion {
  
  padding: 2rem;
  background-color: rgba(150, 122, 70, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.headerRegion .headerSections ul {
  
  display: flex;
  gap: 20rem;
  list-style: none;
  align-items: center;
  align-self: center;
  margin: 0px;
  padding: 0px;
  padding-right: 2rem;
}


.headerRegion .headerSections ul li a {
  color: black;
  text-decoration: none;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;
  
}



.introDuct:hover {
  background-color: #f8deb2;
  padding: 10px;
}

.theCommune:hover {
  background-color: #f8deb2;
  padding: 10px;
}

.moreInform:hover {
  background-color: #f8deb2;
  padding: 10px;
}

.introText {
  
  font-size: 3rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin: 20px;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.8);
}


.sectionOneText {
  font-size: 3rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.8);
  margin-top: 20rem;
}

.communityImage {
    margin: 25px;
    border-radius: 30px;
    width: 800px; /* Set the desired width for the image */
    height: auto;
}

.algonquinIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.communityHead {
  font-size: 2.3rem;
}

.communityText {
  font-size: 23px;
  padding: 10px 95px 20px;;
}

.objibweIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mohawkIntro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.creeIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.literature {
  display: flex;
  flex-direction: row;
}

.videoIntro {
  display: flex;
  justify-content: center;
  text-align: center;

  margin-top: 5px;
}

#vid {
  width: 80%; 
  max-width: 800px; 
  margin-top: 40px;
  height: auto;
  border-radius: 20px;
 
 
}

.inCommune {
  font-size: 3rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.8);
  margin-top: 10rem;
}


.endFooter {
  background-color: #b4a47f;
}

.largerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.endTextOne {
  
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.8);
  margin-top: 4rem;

}

.largerContainer h3 {
  text-align: center;
  font-weight: bolder;
  margin: 5px;
  font-size: 27px;
  font-style: italic;
}

.endTexting {
  font-size: 23px;
}

.form-control {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
}

input {
  width: 100%;
  border: 1px;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.2em;
}

.form {
  background-color: #c9c7bd;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 7px rgba(0, 0, 0, 0.2);
  margin-bottom: 4rem;
}

label {
  position: relative;
}

.btn {
  width: 100%;
  background-color: #ffebbb;
  border: none;
  color: #aa8473;
  font-weight: bold;
  padding: 1rem 0;
  border-radius: 20px;
  box-shadow: 0 5px hwb(77 68% 26% / 0.6)
}

.btn:hover {
  background-color: #d6c9ac;
}


small {
  color: rgb(217, 255, 0);
  font-weight: bold;
  max-width: auto;
  max-height: auto;
  position: absolute;
  bottom: -40px;
  right: 10px;
}




fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(167, 138, 97);
  border: none;
  padding: 1rem;
}

.endTextTwo {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}

.devs {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}

.devsTeam {
  display: flex;
  justify-content: center;
  margin: 5px;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 5px;
  padding: 5px;
}

main {
  max-width: 100%;
  min-height: 100vh;
}

/*
  Screen reader text utility class
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.our-impact {
  background-color: rgba(174, 155, 113, 0.5);
  padding: 40px; 
  margin-top: 30px; 
  border: 1px solid #ccc; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

.our-impact h2 {
  display: flex;

  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: #181919; 
  font-size: 2rem; 
  margin-bottom: 15px; 
  
}
.our-impact p {
  font-size: 1.1rem; 
  color: #202020; 
  margin-bottom: 15px;
}
.search-container {
  position: relative;
  max-width: 1000px; 
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
  background-color: rgb(234, 97, 55); 
  color: rgb(28, 4, 4); 
  font-size: 1.5;
  border-radius: 20px;
}

.search-container input[type=search] {
  width: 80%; /* Search bar takes up 80% of the container width */
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 20px;
  align-items: center;
}

.search-container button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f1eeee; /* Light grey background for the button */
  color: black; /* Black text for the button */
  font-weight: bold;
}

.search-container label {
  display: block;
  position: absolute; /* Position the label absolutely to overlay the search input */
  left: 40%; /* Center the label */
  top: 50%; /* Align the label vertically */
  transform: translate(-50%, -50%); /* Offset the label by half its width and height */
  pointer-events: none; /* Allows clicks to pass through to the input underneath */
  /* Other styles */

  margin-bottom: 5px;
  font-weight: bold;
}
.filter-by-year {
  background-color: rgba(150, 122, 70, 0.5); 
  padding: 20px;
  color: white;
  width: 200px; 
  box-sizing: border-box; 
}

.filter-by-year h2 {
  border-bottom: 2px solid white; 
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.filter-by-year ul {
  list-style-type: none; 
  padding: 0;
}

.filter-by-year li {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.filter-by-year input[type="checkbox"] {
  margin-right: 10px; 
}

